body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #a70000;
  width: 100%;
  height: 300px;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.TitleSection input {
  width: 50%;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 50%;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #000000;
  background-color: yellow;
}

.TitleSection button:hover {
  cursor: pointer;
}
.DisplaySection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}
.Card{
border: 1px solid black;
background-image: url(https://media1.giphy.com/media/TLq4OVdIODTp7SEpRW/200.webp);
color: white;
background-size: 100%;
color:white;
font-weight: bold;
}
.img{
  width: 60%;
  height: 80px;
  margin: 20px;
}